.table-header {
    @apply mat:bg-[var(--color-table-header-bg)];
    @apply mat:text-[var(--color-table-header-text)];
}
.table-header-strip {
    @apply mat:border-b mat:border-[var(--color-table-border)];
}
.table-header-cell {
    @apply mat:bg-[var(--color-table-header-bg)] mat:text-sm;
    font-weight: var(--font-weight-table-header);
}
.table-header-cell:hover {
    background-color: var(--color-table-header-bg-hover);
}
.table-header-cell:active {
    background-color: var(--color-table-header-bg-active);
}
.table-body-row {
    @apply mat:bg-[var(--color-table-row-bg)];
    @apply mat:text-[var(--color-table-row-text)];
    @apply mat:border-b mat:border-[var(--color-table-border)];
}
.table-body-row:hover {
    background-color: var(--color-table-row-bg-hover);
}
.table-resize-handle {
    @apply mat:bg-[var(--color-table-header-bg)];
}
.table-resize-divider {
    @apply mat:bg-[var(--color-table-resize-handle)];
}
.table-resize-divider-hover {
    @apply mat:group-hover:bg-[var(--color-table-resize-handle-hover)];
    @apply mat:group-active:bg-[var(--color-table-resize-handle-active)];
}
