@import "tailwindcss";

/* Tokens and component styles */
@import "./styles/tokens.css";
@import "./components/button/Button.css";

@plugin "@tailwindcss/forms";


.mat-ui-hide-scrollbars {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.mat-ui-hide-scrollbars::-webkit-scrollbar {
    display: none;
}