@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

/* Tokens CSS Variables */
@import "./styles/tokens.css";

/* Component CSS Classes */
@import "./components/button/Button.css";
@import "./components/inputs/Input.css";
@import "./components/inputs/InputSelect.css";
@import "./components/inputs/InputSelectOption.css";
@import "./components/inputs/InputToggle.css";
@import "./components/inputs/InputCheck.css";
@import "./components/inputs/InputShared.css";
@import "./components/dropdown-menu/Dropdown.css";
@import "./components/TabButtons.css";
@import "./components/Panel.css";
@import "./components/Modal.css";
@import "./table/Table.css";

@plugin "@tailwindcss/forms";

@layer utilities {
    .mat-ui-hide-scrollbars {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .mat-ui-hide-scrollbars::-webkit-scrollbar {
        display: none;
    }

    /*.mat-ui-scrollbar::-webkit-scrollbar {*/
    /*    width: 12px;*/
    /*    height: 12px;*/
    /*}*/
    /*.mat-ui-scrollbar::-webkit-scrollbar-track {*/
    /*    border-radius: 100vh;*/
    /*    background: transparent;*/
    /*}*/

    /*.mat-ui-scrollbar::-webkit-scrollbar-thumb {*/
    /*    @apply bg-toppa-purple;*/
    /*    border-radius: 100vh;*/
    /*    border: 1px solid white;*/
    /*}*/

    /*.mat-ui-scrollbar::-webkit-scrollbar-thumb:hover {*/
    /*    @apply bg-toppa-purple/80;*/
    /*    cursor: pointer;*/
    /*}*/
}